.reservationContainer{
    max-width: fit-content;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 10px;
    background-color: hsla(0, 3%, 25%, 0.8);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 1rem;
}

.reservationWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.reservationOptionsContainer{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    gap: 50px;
}

.movieTimes{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reservationOptions{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 1.5rem;
    min-height: 300px;
    text-align: center;
    text-wrap: nowrap;
    border-radius: 15px;
    background-color: var(--sectionColor); 
    border: 1px solid var(--hoverColor);
}

.reservationWrapper h2{
    font-size: 2.8rem;
}

.reservationOptions h2{
    font-size: 1.8rem;
}

.dropdownMenu button{
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--buttonsColor);
}

.content p{
    display: block;
    padding: 20px 25px;
    font-size: 1.1rem;
    color: black;
    cursor: pointer;
    margin: 0;
    border-radius: 10px;
}

.content p:hover{
    background-color: hsl(0, 0%, 70%);
}

.dropdownMenu .content{
    display: none;
    background-color: hsl(0, 0%, 85%);
    position: absolute;
    min-width: 130px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.8);
    border-radius: 10px;
}

.dropdownMenu:hover .content{
    display: block;
}

.dropdownMenu{
    display: inline-block;
}

.movieTimes p{
    border-radius: 10px;
    background-color: var(--buttonsColor);
    font-size: 1.5rem;
    padding: 15px;
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.reservationOptions p{
    font-size: 1.5rem;
}

.movieTimes p:hover, .reservationOptions button:hover{
    box-shadow: 2px 2px 5px white,
                -2px -2px 5px white;
}

.reservationOptions button{
    font-size: 1.6rem;
    background-color: var(--buttonsColor);
    padding: 12px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#movieReservationErrorMessage{
    display: none;
    color: red;
    font-size: 1.3rem;
}

#testButton{
    font-size: 3rem;
}

#differentMovie a{
    color:white;
    font-size: 1.1rem;
}

#numberOfTickets{
    margin-bottom: 30px;
}

label{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

input{
    min-width: fit-content;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
}

#movieCheckErrorMessage{
    display: none;
    color: red;
    font-size: 1.3rem;
}


