:root{
    --sectionColor: rgb(34, 34, 34);
    --altSectionColor: hsl(332, 32%, 12%);
    --mainTextColor: hsl(146, 23%, 94%);
    --altTextColor: hsl(0, 0%, 74%);
    --buttonsColor: hsl(344, 85%, 57%);
    --hoverColor: hsl(340, 76%, 48%);
}

body{
    background: linear-gradient(90deg, #2a2a2a 0%, #020114 32%, #211f22 90%);
    color: var(--mainTextColor);
    position: relative;
    min-height: 100vh;
    font-family: 'Libre Franklin', 'Roboto', sans-serif;
}

/* Header ----------------------------------------*/


#headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--hoverColor);
    border-radius: 10px;
    margin-top: 10px;
    padding: 7px;
    font-size: 1.4rem;
    gap: 90px;
}

#logoContainer img{
    width: 90px;
    height: 90px;
    cursor: pointer;
    align-items: flex-start;
}

#logoContainer{
    border: 2px solid black;
    background-color: hsl(0, 0%, 85%);
    border-radius: 50%;
    box-shadow: 1px 1px 3px black,
                -1px -1px 3px black;
    width: 92px;
    height: 92px;
    padding: 15px;
}

#headerContainer nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
    cursor: pointer;
}

#loginRegisterContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
}

#headerContainer h2{
    transition: 0.5s ease-in-out;
}

#headerContainer h2:hover{
    color: var(--hoverColor);
}

#headerContainer a{
    text-decoration: none;
    color: var(--mainTextColor);
}

/* Header ----------------------------------------*/

/* Footer ----------------------------------------*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;  
    border-top: 2px solid var(--buttonsColor);
    border-radius: 10px;
    padding-top: 20px;
}

#footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

footer nav li{
    cursor: pointer;
}

footer li{
    list-style-type: none;
}

#socialContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#socialContainer p, i{
    cursor: pointer;
}

#copyRightContainer{
    display: flex;
    justify-content: center;
    border-top: 2px solid rgb(0, 0, 0);
}

footer p, li{
    transition: 0.5s ease-in-out;
}

footer p:hover, li:hover{
    color: var(--hoverColor);
}



/* Footer ----------------------------------------*/


